# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/


# Custom
logs
results
bnn_priors/data/CIFAR/cifar10/*
*/lsf.o*
figures/*.pdf

**/.DS_Store
bnn_priors/_new_hmc_run.py.bak
bnn_priors/auto/
bnn_priors/inference_no_minibatch.py
bnn_priors/ltximg/
bnn_priors/prior/hello.h5
bnn_priors/prior/kernel_correlated.py
cifar10.dot
cifar10.pdf
cifar10.png
cifar10.prof
cifar10.prof.txt
docs/.DS_Store
docs/auto/
docs/verlet/.auctex-auto/
docs/verlet/auto/
docs/verlet/verlet.aux
docs/verlet/verlet.bbl
docs/verlet/verlet.bcf
docs/verlet/verlet.blg
docs/verlet/verlet.out
docs/verlet/verlet.run.xml
docs/verlet/verlet.synctex.gz
experiments/201110_qqplots.pdf
experiments/cifar10_lengthscales.pkl.gz
experiments/correlated-conv.ipynb
experiments/draw.py
experiments/jug/jug_test.py
experiments/mean_covs.pkl.gz
experiments/mnist_covariances.pdf
experiments/mnist_covariances_all.pdf
experiments/mnist_covariances_l1.pdf
experiments/mnist_covariances_l2.pdf
experiments/opt_states.pkl.gz
experiments/opt_states_rbf.pkl.gz
